@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


html{
    font-size: 62.5%;
}

body{
    background-image: url(images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans';
    background-size: cover;
    margin: 0;
    padding: 1rem 3rem;
}
p{
    margin-bottom: 3.5rem;
}

img{
    width: 100%;
    margin: 2.5rem 0;
}

a{
    text-decoration: none;
    color: hsl(257, 40%, 49%);
}

.logo{
    align-self: flex-start;
}

svg{
    width: 70%;
}

.btn{
    background-color: white;
    padding: .8rem 1.5rem;
    border-radius: 10rem;
}

.text{
    text-align: center;
}

.text--white{
    color: white;
}

.container{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .text{
        text-align: left;
    }

    .btn{
        display: inline-block;
        margin-top: 2rem;
        padding: .8rem 3rem;
    }

    body{
        padding: 1rem 5rem
    };

    }
